<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>文件上传</title>
</head>
<body>
  <h1>文件上传</h1>
  <p>通过上传的文件来获取关键词(可多选)</p>
  <nav>
    <ul>
      <li><a href="/convert">convert</a></li>
      <li><a href="/daily">daily</a></li>
      <!-- <li><a href="/related">related</a></li> -->
      <li><a href="/related2">related2</a></li>
      <li><a href="/single">single</a></li>
    </ul>
  </nav>

  <form action="/csv" method="POST" enctype="multipart/form-data">
    <section>
      <label for="file">文件上传</label>
      <input type="file" id="file" name="file" />
    </section>


    <section>
      <button type="submit">提交</button>
    </section>
  </form>
  
</body>
</html>